html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(28, 35, 49));
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  [class$=container] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
  }

  .hidden{
    opacity: 1;
  }
  
  .header {
    padding: 4rem 0;
    background-image: linear-gradient(to right, rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .header__barra {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 756px) {
    .header{
      height: auto;
    }
    .header__barra {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .header__logo {
    max-width: 15rem;
    border-radius: 50%;
    animation-duration: 1s;
    animation-delay: 0s;
  }

  @keyframes rotador {
    0%{
      transform: rotate(360deg);
    }

    100%{
      transform: rotate(0deg);
    }
  }

  /*ANIMACION*/
  .zoomInUp {
    animation-name: zoomInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInUp {
    0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInUp {
    0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 

  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  @media (min-width: 756px) {
    .header__nav {
      flex-direction: row;
      margin-top: 0;
    }
  }
  .header__enlace {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.2s ease;
  }
  .header__enlace:hover {
    color: #751fff;
  }
  @media (min-width: 756px) {
    .header__enlace {
      font-size: 2rem;
    }
  }
  .header__content {
    margin: 0 auto;
  }
  .header__content img{
    width: 8rem;
    margin: 0 auto;
  }
  @media (min-width: 756px) {
    .header__content {
      width: 50%;
      margin: 0;
      padding-bottom: 4rem;
    }
  }
  .header__heading {
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    padding: 2rem 0;
  }
  @media (min-width: 756px) {
    .header__heading {
      text-align: left;
      padding: 10rem 0;
    }
  }
  .header__whatsapp {
    width: 5rem;
    transition: transform 0.2s ease;
    position: absolute;
    right: 1.5rem;
    bottom: 7rem;
    position: fixed;
    z-index: 10;
  }
  @media (min-width: 756px) {
    .header__whatsapp {
      width: 9rem;
      bottom: 3rem;
      right: 2rem;
    }
  }
  .header__whatsapp:hover {
    transform: rotate(20deg) scale(1.1);
  }
  
  .active {
    color: #751fff;
  }
  
  .categories {
    padding: 5rem 0;
  }
  .categories__heading {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color: #fff;
  }
  .categories__heading span {
    color: #751fff;
  }
  .categories__grid {
    margin-top: 3rem;
  }
  @media (min-width: 756px) {
    .categories__grid {
      display: grid;
      gap: 3rem;
      margin-top: 5rem;
    }
  }
  @media (min-width: 756px) and (min-width: 756px) {
    .categories__grid {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  @media (min-width: 992px) {
    .categories__grid {
      display: grid;
      gap: 3rem;
    }
  }
  @media (min-width: 992px) and (min-width: 756px) {
    .categories__grid {
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
    }
  }
  
  .categorie {
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: #050505 8px 8px 4px 0px;
  }
  @media (min-width: 756px) {
    .categorie {
      margin-bottom: 0;
    }
  }
  .categorie:last-of-type {
    margin-bottom: 0;
  }
  .categorie__image-wrapper {
    overflow: hidden;
  }
  .categorie__image {
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
  }
  .categorie__image:hover {
    transform: scale(1.1);
  }
  .categorie__title {
    text-align: center;
    font-weight: 700;
    color: #2a364b;
  }
  .categorie__button {
    padding: 1rem;
    display: block;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #751fff;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  .categorie__button:hover {
    background-color: #5a08dd;
  }
  
  .speciality {
    margin: 4rem 0;
    background-image: linear-gradient(to bottom, #2a364b 0%, #2a364b 100%);
  }
  @media (min-width: 756px) {
    .speciality {
      background-image: linear-gradient(to right, #131128 0%, #1a1d24 50%, transparent 50%), url(img/hoyas-cat.jpeg);
      background-size: cover;
      background-position: center center;
    }
  }
  @media (min-width: 756px) {
    .speciality__image-phone {
      display: none;
    }
  }
  .speciality__grid {
    display: grid;
    gap: 0;
  }
  @media (min-width: 756px) {
    .speciality__grid {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  .speciality__content {
    padding: 2rem;
    color: #fff;
  }
  @media (min-width: 756px) {
    .speciality__content {
      padding: 15rem 8rem;
    }
  }
  .speciality__heading {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
  }
  .speciality__description {
    font-size: 2rem;
    line-height: 1.5;
  }
  .speciality__description span {
    color: #751fff;
  }
  .speciality__button {
    padding: 1rem;
    display: block;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #751fff;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  .speciality__button:hover {
    background-color: #5a08dd;
  }

  .caracteristicas{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }
  @media (min-width: 768px){
      .caracteristicas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
      }
  }

  .caracteristica{
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);;
    padding: 2rem;
    border-radius: 1rem;
  }
  .caracteristica div{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  .caracteristica__titulo{
    font-size: 2rem;
    color: #2a364b;
    font-weight: 700;
  }
  
  .nosotros {
    padding: 4rem 0;
  }
  .nosotros__heading {
    color: #751fff;
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }
  .nosotros__heading::after{
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    background-image: url(img/kitchen-coock-chef-hat_108594.svg);
    margin: 0 auto;
    margin-top: 1rem;
  }

  .nosotros__grid {
    margin-top: 5rem;
  }
  @media (min-width: 756px) {
    .nosotros__grid {
      display: grid;
      margin-top: 8rem;
    }
  }
  @media (min-width: 756px) and (min-width: 756px) {
    .nosotros__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .nosotros__content {
    padding: 2rem;
    color: #fff;
    background-image: linear-gradient(to right, #131128 0%, #1a1d24 80%);
  }
  .nosotros__title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .nosotros__title span {
    display: block;
    color: #751fff;
    text-transform: none;
  }
  .nosotros__text {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  /*CONTACTO*/
  .form-container {
    border-radius: 1rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }
  @media (min-width: 768px){
      .form-container{
        width: 50rem;
        margin: 0 auto;
      }
  }
  
  .title {
    text-align: center;
    font-size: 3.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 2rem;
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 1.5rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1.8rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  


  .footer{
    background-color: #131128;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
}
.footer span{
    text-transform: capitalize;
    font-size: 1.3rem;
}
@media (min-width: 768px){
    .footer{
        font-size: 1.8rem;
    }
}
