html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background-image: linear-gradient(to right, rgb(243, 244, 246), rgb(209, 213, 219));
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  [class$=container] {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
  }

  .hidden{
    opacity: 1;
  }
  
  .header {
    padding: 4rem 0;
    background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .header__barra {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 756px) {
    .header{
      height: auto;
    }
    .header__barra {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .header__logo {
    max-width: 15rem;
    border-radius: 50%;
    animation-duration: 1s;
    animation-delay: 0s;
  }

  @keyframes rotador {
    0%{
      transform: rotate(360deg);
    }

    100%{
      transform: rotate(0deg);
    }
  }

  /*ANIMACION*/
  .zoomInUp {
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInUp {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInUp {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 

  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  @media (min-width: 756px) {
    .header__nav {
      flex-direction: row;
      margin-top: 0;
    }
  }
  .header__enlace {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.2s ease;
  }
  .header__enlace:hover {
    color: #751fff;
  }
  @media (min-width: 756px) {
    .header__enlace {
      font-size: 2rem;
    }
  }
  .header__content {
    margin: 0 auto;
  }
  @media (min-width: 756px) {
    .header__content {
      width: 50%;
      margin: 0;
      padding-bottom: 4rem;
    }
  }
  .header__heading {
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    padding: 2rem 0;
  }
  @media (min-width: 756px) {
    .header__heading {
      text-align: left;
      padding: 10rem 0;
    }
  }
  .header__whatsapp {
    width: 5rem;
    transition: transform 0.2s ease;
    position: absolute;
    right: 1.5rem;
    bottom: 7rem;
    position: fixed;
    z-index: 10;
  }
  @media (min-width: 756px) {
    .header__whatsapp {
      width: 9rem;
      bottom: 3rem;
      right: 2rem;
    }
  }
  .header__whatsapp:hover {
    transform: rotate(20deg) scale(1.1);
  }
  
  .active {
    color: #751fff;
  }
  
  .categories {
    padding: 5rem 0;
  }
  .categories__heading {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color: #2a364b;
  }
  .categories__heading span {
    color: #751fff;
  }
  .categories__grid {
    margin-top: 3rem;
  }
  @media (min-width: 756px) {
    .categories__grid {
      display: grid;
      gap: 3rem;
      margin-top: 5rem;
    }
  }
  @media (min-width: 756px) and (min-width: 756px) {
    .categories__grid {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  @media (min-width: 992px) {
    .categories__grid {
      display: grid;
      gap: 3rem;
    }
  }
  @media (min-width: 992px) and (min-width: 756px) {
    .categories__grid {
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
    }
  }
  
  .categorie {
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: #aca9b1 8px 8px 4px 0px;
  }
  @media (min-width: 756px) {
    .categorie {
      margin-bottom: 0;
    }
  }
  .categorie:last-of-type {
    margin-bottom: 0;
  }
  .categorie__image-wrapper {
    overflow: hidden;
  }
  .categorie__image {
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
  }
  .categorie__image:hover {
    transform: scale(1.1);
  }
  .categorie__title {
    text-align: center;
    font-weight: 700;
    color: #2a364b;
  }
  .categorie__button {
    padding: 1rem;
    display: block;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #751fff;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  .categorie__button:hover {
    background-color: #121182;
  }
  
  .speciality {
    margin: 4rem 0;
    background-image: linear-gradient(to bottom, #2a364b 0%, #2a364b 100%);
  }
  @media (min-width: 756px) {
    .speciality {
      background-image: linear-gradient(to right, #131128 0%, #2a364b 50%, transparent 50%), url(img/hoyas-cat.jpeg);
      background-size: cover;
      background-position: center center;
    }
  }
  @media (min-width: 756px) {
    .speciality__image-phone {
      display: none;
    }
  }
  .speciality__grid {
    display: grid;
    gap: 0;
  }
  @media (min-width: 756px) {
    .speciality__grid {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  .speciality__content {
    padding: 2rem;
    color: #fff;
  }
  @media (min-width: 756px) {
    .speciality__content {
      padding: 15rem 8rem;
    }
  }
  .speciality__heading {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
  }
  .speciality__description {
    font-size: 2rem;
    line-height: 1.5;
  }
  .speciality__description span {
    color: #751fff;
  }
  .speciality__button {
    padding: 1rem;
    display: block;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #751fff;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  .speciality__button:hover {
    background-color: #121182;
  }

  .caracteristicas{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }
  @media (min-width: 768px){
      .caracteristicas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
      }
  }

  .caracteristica{
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);;
    padding: 2rem;
    border-radius: 1rem;
  }
  .caracteristica div{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  .caracteristica__titulo{
    font-size: 2rem;
    color: #2a364b;
    font-weight: 700;
  }
  
  .nosotros {
    padding: 4rem 0;
  }
  .nosotros__heading {
    color: #751fff;
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }
  .nosotros__heading::after{
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    background-image: url(img/kitchen-coock-chef-hat_108594.svg);
    margin: 0 auto;
    margin-top: 1rem;
  }

  .nosotros__grid {
    margin-top: 5rem;
  }
  @media (min-width: 756px) {
    .nosotros__grid {
      display: grid;
      gap: 4rem;
      margin-top: 8rem;
    }
  }
  @media (min-width: 756px) and (min-width: 756px) {
    .nosotros__grid {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  .nosotros__image-wrapper {
    border-top-right-radius: 28rem;
    border-bottom-right-radius: 28rem;
    overflow: hidden;
  }
  .nosotros__content {
    padding: 2rem;
  }
  .nosotros__title {
    text-align: center;
    font-size: 3.5rem;
    color: #2a364b;
    text-transform: uppercase;
  }
  .nosotros__title span {
    display: block;
    color: #751fff;
    text-transform: none;
  }
  .nosotros__text {
    font-size: 2rem;
    line-height: 2;
  }

  .galeria{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  @media (min-width: 768px){
      .galeria{
        margin-top: 8rem;
      }
  }
  
  .local {
    padding-bottom: 4rem;
    margin-top: 8rem;
  }
  .local__information {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  @media (min-width: 992px) {
    .local__information {
      flex-direction: row;
      justify-content: center;
    }
  }
  .local__item {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    color: #2a364b;
  }
  .local__info {
    font-size: 2rem;
    text-decoration: underline;
  }
  
  .local__information--menu {
    margin-top: 8rem;
  }


  .footer{
    background-color: #131128;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.footer span{
    text-transform: capitalize;
    font-size: 1.3rem;
}
@media (min-width: 768px){
    .footer{
        font-size: 1.8rem;
    }
}
